table, td, th {
        font-family: Verdana, Arial;
        font-size: 16px;
        border: 0px solid black;
        border-collapse:collapse; 
        padding-left: 20px
}

body {  
        font-family: Verdana, Arial;
        font-size: 16px;
        background-image: url(Clouds.jpg);
}

.landingInput {
        width: 80px
}

.takeoffInput {
        width: 80px
}

.towInput {
        width: 80px
}

tr.Highlight {
        background-color: #6496FF;
        padding-left: 0px;
/*        border-top: 1px solid #999999; #6496FF*/
}

td.Heading {
        padding-left: 0px;
        padding-top: 20px;
        font-weight: bold;
}


tr.Data {
        background-color: #DDDDDF;
        border-top: 1px solid #999999;
}

tr.IncompleteEntry {
        background-color: #FF0000;
        border-top: 1px solid #999999;
}

tr.CompleteEntry {
        background-color: #00FF00;
        border-top: 1px solid #999999;
}

.Highlight {
        background-color: #DDDDDF;
        font-weight: bold;
}

.White {
        background-color: #FFFFFF;
        font-weight: bold;
}

th, tr.Head {
        color: #FFFFFF;
        background-color: #000077;
        background-image: url('grad_white.png');
        background-position: 0px -3px;
        background-repeat: repeat-x;
        vertical-align: bottom;
        padding-left: 20px;
        padding-right: 3px;
        font-family: Verdana, Arial;
        font-size: 14px;
        font-weight: bold;
}

button.delete {
        border: none;
        height: 24px;
        width: 24px;
        valign: center;
        background: transparent;
        background-image: url('close_24.png');
        background-position: center;
}

button.modify {
        border: none;
        height: 24px;
        width: 24px;
        valign: center;
        background: transparent;
        background-image: url('modify.png');
        background-position: center;
}

